<% if action == :new %>
  <% action_url = users_url %>
<% else %>
  <% action_url = session_url %>
<% end %>

<%= render "layouts/errors" %>

<form action="<%= action_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Username:
  <input type="text" name="user[username]" value="<%= user ? user.username : '' %>">

  <% if action == :new %>
    Email:
    <input type="text" name="user[email]" value="<%=user ? user.email : '' %>">
  <% end %>

  Password:
  <input type="password" name="user[password]" value="">
  
  <input type="submit" value= "<%=action == :new ? "Sign Up" : "Sign In" %>">
</form>
