<ul>
  <li>Username: <%= user.username %></li>
  <li>E-mail: <%= user.email %></li>
  <% if action == :show %>
    <%= link_to "Show User Index", users_url%>
  <% else %>
    <%= link_to "Show User Detail", user_url(user)%>
  <% end %>
  <%= link_to "Edit User", edit_user_url(user)%>
  <%= button_to "Delete User", user_url(user), method: :delete %>
</ul>
